<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light shadow bg-dark">
    <div class="container-fluid">
      <div
        class="collapse navbar-collapse"
      >
        <a
          title="Startseite"
          style="text-decoration-line: none"
          aria-current="page"
          [routerLink]="(router.url !== '/') ? '/home' : '/'"
        >
          <h3 class="text-white">Employee-Manager</h3>
        </a>
      </div>
      <div>
        <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="router.url !== '/'">
          <li class="nav-item active">
            <a routerLink="/home" title="Startseite" class="nav-link text-white" aria-current="page">Startseite</a>
          </li>
          <li class="nav-item">
            <a title="Logout" class="nav-link text-white" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
