.card-hitec {
  width: 500px;
  box-shadow: 0 0 6px 3px darkgrey;
  margin: auto;
  top: 170px;
}

.btn-hitec-primary {
  background-color: forestgreen;
  width: 300px;
  margin: 10px;
}

.btn-hitec-secondary {
  background-color: darkslategrey;
  width: 300px;
  margin: 10px;
}
