<div class="card text-center card-hitec">
  <div class="card-body">
    <h5 class="card-title">Herzlich Willkommen!</h5>
    <h6 class="card-subtitle mb-2 text-muted">Was möchten Sie tun?</h6>
    <nav>
      <a routerLink="/search" class="btn btn-hitec-primary text-white">Durchstöbern</a><br>
      <a routerLink="/create" class="btn btn-hitec-secondary text-white bg-dark">Neu erstellen</a>
    </nav>
  </div>
</div>
