<div class="card text-center card-hitec">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form>
      <label for="name">Username</label>
      <input class="form-control" id="name" type="text" name="name" [(ngModel)]="user"><br/>
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" [(ngModel)]="password"><br/>
      <button class="btn btn-hitec-primary text-white" (click)="login()">Login</button>
    </form>
  </div>
</div>
