.centered-card {
  width: 700px;
  margin: auto;
  top: 120px;
}

.card-shadow {
  box-shadow: 0 0 6px 3px darkgray;
}

.max-width {
  width: 100%;
}

.active {
  background: forestgreen;
}

.btn-hitec-primary {
  background-color: forestgreen;
  width: 120px;
  margin: 5px;
}

.btn-hitec-secondary {
  background-color: darkslategrey;
  width: 120px;
  margin: 5px;
}
