<div class="card centered-card card-shadow">
  <div class="card-body">
    <div class="container-fluid">
      <div id="employee-window-upper-btns-container" class="row m-2">
        <input
          id="searchNumberField"
          [(ngModel)]="searchedId"
          (ngModelChange)="handleSearchChange()"
          min="1"
          type="number"
          class="col-6"
          placeholder="Mitarbeiter nach ID suchen..."
        />
        <button id="showAllButton" (click)="showAll()" class="col-2">Alle anzeigen</button>
        <select id="sortComboBox" (change)="sortEmployees()" class="col-4" name="Sortieren">
          <option *ngFor="let sortFunction of sortFunctions" [value]="sortFunction.name">
            {{ sortFunction.name }}
          </option>
        </select>
      </div>
      <div id="employee-window-list-container" class="row list-group m-2">
        <div class="mb-3" *ngFor="let employee of viewingEmployees">
          <div id="list-tab" role="tablist">
            <a
              (click)="toggleEmployeeTab(employee)"
              [id]="'employee' + employee.id"
              class="list-group-item list-group-item-action"
              [ngClass]="employeeTabIsOpened(employee) ? 'active' : ''"
              role="tab"
            >
              {{ employee.id + " " + employee.firstName + " " + employee.lastName }}
            </a>
          </div>
          <div *ngIf="employeeTabIsOpened(employee)" class="tab-content">
            <div class="mb-2">
              <input
                id="editingEmployeeId"
                name="editingEmployeeId"
                class="mb-2 mt-2 form-control"
                type="text"
                placeholder="MitarbeiterID"
                [(ngModel)]="editingEmployee.id"
                disabled
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeeFirstName"
                name="editingEmployeeFirstName"
                class="form-control"
                type="text"
                placeholder="Vorname"
                [(ngModel)]="editingEmployee.firstName"
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeeLastName"
                name="editingEmployeeLastName"
                class="form-control"
                type="text"
                placeholder="Nachname"
                [(ngModel)]="editingEmployee.lastName"
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeeStreet"
                name="editingEmployeeStreet"
                class="form-control"
                type="text"
                placeholder="Straße"
                [(ngModel)]="editingEmployee.street"
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeePostcode"
                name="editingEmployeePostcode"
                class="form-control"
                type="text"
                placeholder="PLZ"
                [(ngModel)]="editingEmployee.postcode"
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeeCity"
                name="editingEmployeeCity"
                class="form-control"
                type="text"
                placeholder="Ort"
                [(ngModel)]="editingEmployee.city"
              />
            </div>
            <div class="mb-2">
              <input
                id="editingEmployeePhone"
                name="editingEmployeePhone"
                class="form-control"
                type="text"
                placeholder="Telefonnummer"
                [(ngModel)]="editingEmployee.phone"
              />
            </div>
            <button type="submit" class="material-icons" (click)="saveChanges()" [disabled]="!changesWereMade()">
              Änderungen speichern
            </button>
            <button type="submit" class="material-icons" (click)="discardChanges()" [disabled]="!changesWereMade()">
              Änderungen verwerfen
            </button>
            <button type="submit" class="material-icons" (click)="deleteEmployee()">
              Mitarbeiter löschen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
