<div class="card text-center card-hitec">
  <div class="card-body">
    <h5 class="card-title">Neuen Mitarbeiter hinzufügen</h5>
    <form class="text-left">
      <label for="firstname">Vorname</label>
      <input type="text" class="form-control" id="firstname" [(ngModel)]="firstName" name="firstname"/><br>
      <label for="lastname">Nachname</label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="lastName" name="lastname"/><br>
      <label for="street">Straße</label>
      <input type="text" class="form-control" id="street" [(ngModel)]="street" name="street"/><br>
      <label for="postcode">PLZ</label>
      <input type="number" class="form-control" id="postcode" [(ngModel)]="postcode" name="postcode"/><br>
      <label for="city">Stadt</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city"/><br>
      <label for="phone">Telefon</label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone"/><br>
    </form>
    <nav class="text-right">
      <a routerLink="/home" class="btn btn-hitec-secondary text-white bg-dark">Abbrechen</a>
      <a routerLink="/home" class="btn btn-hitec-primary text-white" (click)="postData()">Speichern</a>
    </nav>
  </div>
</div>
